<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%-  include('layout/header')%>
<div class="container">
    <div class="row">
        <div class="col-lg mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-success">
                    <h5 class="text-light">Edit User (<%= user.name%>)</h5>
                </div>
                <div class="card-body p-4">
                    <form action="/edit/<%= user._id %>" method="post" id="add-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="name">Name</label>
                            <input type="text" value="<%= user.name %>" name="name" class="form-control from-control-lg" placeholder="Enter Name" required/>
                        </div>
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" value="<%= user.email %>" name="email" class="form-control from-control-lg" placeholder="Enter Email" required/>
                        </div>
                        <div class="mb-3">
                            <label for="phone">Phone</label>
                            <input type="tel" value="<%= user.phone %>" name="phone" class="form-control from-control-lg" placeholder="Enter Phone" required/>
                        </div>
                        <div class="mb-3">
                            <label for="image">Select Image</label>
                            <input type="file" class="form-control from-control-lg"  name="image"required/>
                            <img src="/<%= user.image %>" width="100" class="img-thumbnail mt-1" >
                        </div>
                        <input type="hidden" name="old_image" value="<%= user.image %>" class="img-thumbnail"/>
                        <div class="mb-3 d-grid">
                            <input type="submit" name="submit" value="Update User" class="btn btn-success btn-lg">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('layout/footer') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
